<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.civen.civen_stumanager.mapper.AdminMapper">
    <select id="getAdminByUsername" resultType="com.civen.civen_stumanager.entity.Admin" parameterType="String">
        select * from stumanager.admin where username = #{username}
    </select>

</mapper>
