<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.civen.civen_stumanager.mapper.StudentMapper">
    <select id="studentOverall" resultType="com.civen.civen_stumanager.entity.Student">
        select * from stumanager.student;
    </select>
    <select id="updateStudent" parameterType="com.civen.civen_stumanager.entity.Student">
        update stumanager.student set sname = #{sname},ssex = #{ssex},sage = #{sage},sdept = #{sdept} where student.sno = #{sno};
    </select>
    <select id="checkStudent" resultType="com.civen.civen_stumanager.entity.Student">
        select * from stumanager.student where sno = #{sno};
    </select>
    <insert id="addStudent" parameterType="com.civen.civen_stumanager.entity.Student">
        insert into stumanager.student (sno, sname, ssex, sage, sdept) values (#{sno},#{sname},#{ssex},#{sage},#{sdept});
    </insert>
    <select id="chechStuCourse" resultType="com.civen.civen_stumanager.entity.StuCourse">
        select course.cno,course.cname,scc.grade from (select sc.cno,sc.grade from sc where sc.sno = #{sno}) scc,course where scc.cno = course.cno;
    </select>
    <update id="updateStuCoGrade" parameterType="com.civen.civen_stumanager.entity.StuCoGrade">
        update sc set grade = #{grade} where sno = #{sno} and cno = #{cno};
    </update>
</mapper>
