<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.civen.civen_stumanager.mapper.StudentMapper">
    <select id="studentOverall" resultType="com.civen.civen_stumanager.entity.Student">
        select * from stumanager.student;
    </select>
    <select id="updateStudent" parameterType="com.civen.civen_stumanager.entity.Student">
        update stumanager.student set sname = #{sname},ssex = #{ssex},sage = #{sage},sdept = #{sdept} where student.sno = #{sno};
    </select>
    <select id="checkStudent" resultType="com.civen.civen_stumanager.entity.Student">
        select * from stumanager.student where sno = #{sno};
    </select>
    <insert id="addStudent" parameterType="com.civen.civen_stumanager.entity.Student">
        insert into stumanager.student (sno, sname, ssex, sage, sdept) values (#{sno},#{sname},#{ssex},#{sage},#{sdept});
    </insert>
</mapper>
